{{define "footer"}}
<link rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&family=Playfair+Display:wght@700&display=swap"
  href="/static/errors.css"
  rel="stylesheet"
/>

<div class="footer-wrapper">
  <!-- Authors Section -->
  <div class="authors-section">
  </div>
  <!-- Authors-End -->

  <!-- Footer-Start -->
  <footer class="site-footer">
    <div class="footer-content">
      <span>&copy; 2024 Heal</span>
    </div>
  </footer>
  <!-- Footer-End -->
</div>
{{end}}
